.textCard {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s border-color ease;
  position: relative;
}

.textCard:hover {
  border: 2px solid #13b5cd;
}

.textCard:hover .text {
  color: #000;
  text-decoration: underline !important;
}

.link {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.text {
  color: #000;
}

.linkIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
